@use 'sass:color';
@use 'base/variables' as variables;
@use 'base/mixins' as mixins;

.dark-mode {
    background-color: color.adjust(variables.$gris-oscuro, $lightness: -10%);

    p {
        color:variables.$blanco;
    }

    a, h1, h2, h3, h4 {
        color: variables.$gris;
    }

    .anuncio, .resumen-propiedades {
        background-color: variables.$gris-oscuro;
        border: 1px solid variables.$gris-oscuro;

        .precio {
            color: variables.$verde;
        }

         .icono {
        filter: invert(100%);
    }
    }

    .texto-nosotros blockquote{
        color: variables.$blanco;
    }

    .formulario{
        label,
        legend,
        p{
        color: variables.$gris;
        }

        input:not([type="submit"]),
        textarea,
        select{
             background-color: variables.$gris-oscuro;
             border: 1px solid variables.$gris-oscuro;
             color: variables.$blanco;
        }
    }

   
}
