@use '../base/variables' as variables;
@use '../base/mixins' as mixins;
@use 'sass:color';

@include mixins.tablet {
  .contenedor-anuncios {
    @include mixins.grid(3, 2rem);
  }
}

.anuncio {
  background-color: color.adjust(variables.$gris, $lightness: 5%);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.contenido-anuncio {
  padding: 2rem;
  flex-grow: 1; // Hace que el contenido crezca para llenar el espacio
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.anuncio picture img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

h3,
p {
  margin: 0;
}

.precio {
  color: variables.$verde;
  font-weight: variables.$bold;
  font-size: 3rem;
}

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  max-width: 40rem;
  margin-top: 2rem;

  li {
    flex: 1;
    display: flex;
    align-items: center;

    img {
      flex: 0 0 3rem;
      margin-right: 1rem;
    }

    p {
      font-weight: variables.$black;
    }
  }
}
