@use '../base/variables' as variables;
@use '../base/mixins' as mixins;
@use 'sass:color';

.no-webp .imagen-contacto{
    background-image: url('../img/encuentra.jpg');

}

.webp .imagen-contacto{
    background-image: url('../img/encuentra.webp');

}

.imagen-contacto{
    background-position: center center;
    background-size: cover;
    padding:variables.$separacion 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        font-size: 4rem;
        font-weight: variables.$black;
        color:variables.$blanco;
    }

    p{
        font-size: 1.8rem;
        color:variables.$blanco;
    }

}