@use '../base/variables' as variables;
@use '../base/mixins' as mixins;
@use 'sass:color';


.alerta{
    padding: .5rem;
    text-align: center;
    color: variables.$blanco;
    font-weight: variables.$bold;
    text-transform: uppercase;
    margin: 1rem 0;
    &.error{
        background-color: variables.$rojo;
    }


    &.exito {
        background-color: variables.$verde;
    }
}

table.propiedades{
    margin-top: 4rem;
    width: 100%;
    border-spacing: 0;

    thead{
        background-color: variables.$verde;

        th{
            color: variables.$blanco;
            padding: 2rem;
        }
    }

    .imagen-tabla{
        width: 10rem;
    }
}

.imagen-small{
    width: 20rem;
}